html {
    position: relative;
    min-height: 100%;
}


#main-section {
    width: ;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    padding-top: 20px ;
    border-bottom: solid #cccccc 2.5px;
    
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

/* header */

.container {
 width: 960px;
 margin: auto;
 overflow: hidden;
 padding-top: 20px;

}

header #main-section{
    background: #ffffff ;
    border-bottom: #cccccc;
    width: 1024px;
    border: 0 0 0 0;
}

header #name {
    float: left;
    background-color: #4aaaa5 ;
    width: 240px;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
}
 header #name h1{
     margin: 0;
     margin-top: 0px;
 }

header a{
     color: #777777 ;
     text-decoration: none;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;

}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 30px 0 30px;
}

header nav {
    float: right;
    margin-top: 20px;
}

body {
    background-image: url("https://images.homedepot-static.com/productImages/57123181-f592-47dd-b52f-976243876046/svn/wall-vision-wallpaper-2827-7173sam-64_600.jpg");
    margin: auto;
  
}

.container2{
    width: 960px;
    margin: auto;
    background-color: #ffffff;
    border: solid lightgray 1px;
}      

#about-me{
    font-size: 25px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: solid lightgray 2.5px;
    width: 860px;
    margin: auto;
}

input{ 
    width: 900px;
    height: 35px;
    border: solid lightgray 1px;
    padding: 5px;
}

 #message {

    width: 900px;
    height: 190px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

#formP{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}

 #Forms {
    margin: auto;
    width: 900px;
 }

 .button{
     width: 40px;
     height: 40px;
     margin-bottom: 30px;
     background-color: #4aaaa5;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     color: #ffffff ;
     border: 0;
 }

#footer {
    text-align: center;
    background-color: #777777;
    padding: 28px 0 0 0;
    border-top: solid #4aaaa5 5px;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 27px;
    width: 100%;
}
© 2020 

